
body {
    box-sizing: border-box;
    margin: 0 auto;
    background-image: url("/../images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.TodoApp {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
