@import url("https://fonts.googleapis.com/css?family=PT+Sans|Quicksand|Raleway");

.Title {
  font-family: "Quicksand", "Raleway", "Helvetica", sans-serif;
  color: black;
  text-shadow: 0 0 3px black;
}
