@import url("https://fonts.googleapis.com/css?family=PT+Sans|Quicksand|Raleway");

.TodoForm {
  font-family: "Quicksand", "Raleway", "Helvetica", sans-serif;
  padding-bottom: 100px;
}

.TodoForm input {
    width: 200px;
    border-radius: 4px;
}

.TodoForm button {
    border-radius: 4px;
    background-color: black;
    color: wheat;
}

.TodoForm button:hover {
    cursor: pointer;
}