@import url("https://fonts.googleapis.com/css?family=PT+Sans|Quicksand|Raleway");

.Todo {
  font-family: "Quicksand", "Raleway", "Helvetica", sans-serif;
}

.Todo button {
    border-radius: 4px;
    border: none;
    margin-left: 10px;
    background-color: blue;
    color: lightblue;
    font-weight: 600;
    height: 20px;
    width: 60px;
    font-family: "Quicksand", "Raleway", "Helvetica", sans-serif;
}

.Todo button:hover {
    cursor: pointer;
}

.Todo p {
    margin-bottom: 2px;
    font-weight: 700;
}