@import url("https://fonts.googleapis.com/css?family=PT+Sans|Quicksand|Raleway");

.TodoList {
  font-family: "Quicksand", "Raleway", "Helvetica", sans-serif;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 35px;
  background-color: black;
  opacity: 0.6;
  padding-bottom: 10px;
  padding-right: 10px;
}
